#observe_mode {
	display: none;
}

#ride_mode {
	display: none;
}

body.splash {
    background: url('qpbg.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#previous_runs_div {
    top: 15px;
}

#logo {
    padding-top: 20px;
    width: 85%;
}

html, body {
    height: 100%; /* make the percentage height on placeholder work */
}

button.stop_button {
    background: red !important;
    padding: 5px 29px 5px 29px !important;
}

#start_timer_button {
    background: #389838;
    font-size: 25px;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    position: relative;
    top: 0px;
    right: 0px;
    opacity: .80;
    &:hover {
        opacity: 1;
    }
}

div.file span.glyphicon {
    margin-left: 5px;
    font-size: 12px;
    line-height: 25px;
    color: #B52F2F;
}